setuptools
wheel
Flask
Flask-CORS
Flask-JWT-Extended
pymongo
python-dotenv
PyPDF2
python-docx
requests
sentence-transformers
torch
numpy
boto3
werkzeug
bcrypt
Pillow
scikit-learn
transformers
pytesseract
pdf2image
gunicorn==20.1.0